*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-size: 0.75rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  font-family: "Kumbh Sans", sans-serif;
}
.main-layout {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  background-color: white;
  width: 20rem;
  border-radius: 20px;
}
.woman-svg > svg {
  position: absolute;
  top: -120px;
  left: 38px;
}
.main-content {
  margin-top: 7rem;
  padding: 1.5rem;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.question-answer {
  margin-bottom: 1rem;
  border-bottom: solid 1.5px hsl(240, 5%, 91%);
}
.question-preview {
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question {
  color: hsl(237, 12%, 33%);
}
.arrow-container {
  align-items: center;
  cursor: pointer;
}
.answer {
  color: hsl(240, 6%, 50%);
  display: none;
  margin-bottom: 1rem;
}
.bold-question {
  font-weight: bold;
}
